@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    /* adding custom css */
    margin:0;
    padding:0;
    box-sizing: border-box;

  }
  span {
    /* applying chaining */
    @apply text-sky-400 text-sm uppercase text-xl ;
  }
  h1 {
    @apply text-red-400;
    font-family: "Playwrite CU", sans-serif;
  }
  .grid-object {
    @apply p-2 bg-sky-400 rounded;
  }
  .grid-container{
    @apply grid grid-rows-4 lg:grid-cols-3 gap-2 mx-4 md:grid-cols-2;
  }
  .title
  {
    @apply font-title sm:text-sm lg:text-3xl text-center;
  }
}