@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    /* adding custom css */
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  span {
    /* applying chaining */
    @apply text-sky-400 text-sm uppercase text-xl ;
  }
  h1 {
    @apply text-red-400;
    font-family: "Playwrite CU", sans-serif;

  }

}